BSC Facets Interactive Information:

Facets version - {{ interactive['version'] }}
Facets major version -  {{ interactive['major'] }}
Facets minor version - {{ interactive['minor'] }}
Facets oneoff version -  {{ interactive['oneoff'] }}
Facets component -  {{ interactive['component'] }}