BSC Facets Interactive Information:
Facets version - {{ interactive['version'] }}
Facets major version -  {{ interactive['major'] }}
Facets minor version - {{ interactive['minor'] }}
Facets oneoff version -  {{ interactive['oneoff'] }}
Facets component -  {{ interactive['component'] }}

BSC Facets Batch Information:
Batch component - {{ batch['location'] }}
Batch component - {{ batch['platform'] }}
Batch component - {{ batch['component'] }}

BSC Facets ISL Information:
Isl component - {{ isl['location'] }}
Isl component - {{ isl['platform'] }}
Isl component - {{ isl['component'] }}

BSC Facets THG Information:
Thg component - {{ thg['location'] }}
Thg component - {{ thg['platform'] }}
Thg component - {{ thg['component'] }}

